.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
clear: both;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  height: 100px;
  margin: 5px;
  background-color:black;
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: yellow;
 }

h1 {
	color: yellow;
	padding: 8px;
	font-weight: bolder;
}

nav {
	float: right;
}

nav > a {
	color: #FFFFFF;
	padding: 8px;
	font-weight: bold;
}

nav .loud {
	font-weight: bolder;
}

h2 {
	background-color: grey;
	margin: auto;
	color: black;
	text-align: center;
	padding: 20px;
	font-style: italic;
}

h2 .taste {
	text-decoration: line-through;
}

h2 .underline {
	text-decoration: underline yellow;
}

main > .container {
	background: url(../images/coworking.jpg); 
	height: 400px;
	background-size: cover;
	margin: auto;
	background-size: cover;
	background-position: center center;
	border: 3px;
	border-color: black;
	border-style: solid;
}

aside {
	background-color: white;
	opacity: 0.8;
	float: right;
	height: 300px;
	width: 200px;
	padding: 25px;
	margin: 25px;
	border: 2px;
	border-color: black;
	border-style: solid;
}

.profile h3 {
	font-weight: 800;
	margin: 5px;
	padding-top: 25px;
	text-align: center;
}

.profile p {
	margin: 5px 5px 20px 5px;
	padding: 10px 0px;
	text-align: left;
}

.button {
	background-color: yellow;
	padding: 10px;
	border: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	margin: 10px 5px;
	font-weight: bold;
	text-align: center;
}

.yellow {
	opacity: 1;
	color: black;
}

#options {
	background-color: white;
	max-width: 900px;
	position: absolute;
	display: inline-block;
}

.createprofile {
	display: inline-block;
	width: 200px;
	margin: 20px;
	position: relative;
	left: 20px;
	border-right: 1px solid grey;
	padding-right: 40px;
}

.finddeveloper {
	display: inline-block;
	width: 200px;
	margin: 20px;
	position: relative;
	left: 50px;
	border-right: 1px solid grey;
	padding-right: 40px;
}

.finddesigner {
	display: inline-block;
	width: 200px;
	margin: 20px;
	position: relative;
	left: 80px;
}

.grey {
	background-color: grey;
	width: 100;
	padding: 5px;
	color: black;
}

footer {
	clear: both;
	background-color: black;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	color: white;
	height: 45px;
	padding: 2px;
}
